<h1>Yeah app is working</h1>
<h1>* it is example of interpolation</h1>
<p>my name is {{name}}</p>
<br><br>
<h1>* it is example of disable button</h1>
<button [disabled]="buttonVisibility" (click)="buttnDisableHandling()">click me</button>
<br>
<h1>* it is example of image</h1>
<img [src]="itemImageUrl" />
<br>
<h1>* It is Example of toggle button</h1>
<button (click)="handleDirectionClick()">{{direction}}</button>
<br/>
<h1>* It is Example of set value</h1>
<button (click)='method("sudeep chatterjee")'>update name to full name</button>
<br>
<h1>* It is example of two way binding</h1>
<input type="text" [(ngModel)]="name">
<button (click)="addCity(name)">{{saveVisible?'save':'add'}}</button>
<br>
<h1>* It is example of for loop</h1>
<ul>
    <li *ngFor="let city of city ; let i = index" class="city-list-item">
        {{city}} <button class="city-edit-button"
        (click)="handleEdit(i)">Edit</button>
    </li>
</ul>
<br><br>
<h1>* is it example of ng if</h1>
<p *ngIf="visibility">if directive is working</p>
<br>
<button (click)="toggleVisibility()">toggle visibility ngIf</button>
<br><br>

