<!-- <app-day-two title="sudeep chatterjee"></app-day-two>
<app-parent></app-parent> -->
<!-- <app-user-form></app-user-form>
<br>
<br>
<app-template-driven-form></app-template-driven-form>


<br><br>

<app-pipes></app-pipes> -->
<h1>In this Example in admin canactive guard is implemented on admin</h1>
<button routerLink="/admin">go to admin</button>
<button routerLink="/login">go to login</button>
<button [routerLink]="['/sign-up',5]">go to Signing up</button>

<br><br>
<br><br>

<router-outlet />
